@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand: 172, 67%, 45%;
  --text: 186, 14%, 43%;
  --neutral1: 184, 14%, 56%;
  --neutral2: 185, 41%, 84%;
  --neutral3: 189, 41%, 97%;
  --White: 0, 0%, 100%;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}
